<!-- Include library -->
<link rel="stylesheet" href="{{ (resources.Get "css/katex.min.css").RelPermalink }}" />
<script defer src="{{ (resources.Get "js/katex.min.js").RelPermalink }}"></script>
<!-- Include auto-render extension & render all KaTeX formula !-->
<script defer src="{{ (resources.Get "js/auto-render.min.js").RelPermalink }}"></script>
<!-- Load script -->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          throwOnError : true
        });
    });
</script>